.cards{
    display: flex;
    gap: 6px;
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
}

.cards__item{
    width: 64px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 4px;
    filter: none;
    
}


.visa{
    background-image: url("../img/visa.png");
    
}

.master{
    background-image: url("../img/master.png");
}

.americanexp{
    background-image: url("../img/amexsp.png");
}

.discover{
    background-image: url("../img/discover.png");
}

.jcb{
    background-image: url("../img/jcb.png");
}

.diners{
    background-image: url("../img/diners.png");
    background-size: 45px;
}

.mir{
    background-image: url("../img/mir.png");
}

.form-group{
    display:flex;
    gap: 6px;
}

.form-group__field{
    min-width: 300px;
    height: 40px;
}

.form-group__btn{
    Width: 200px;
    height: 45px;
    background-color: #5cb85c;
    border: none;
    border-radius: 4px;
    color: white;
}

.form-group__btn:hover{
    background-color: rgb(1, 82, 36);
    color: gray;
}

.validate__result{
    display: none;/*изменяем на flex*/
    width: 400px;
    height: 35px;
    justify-content: flex-start;
    gap: 5px;
}

.validate__result-img{
    height: 100%;
    width: 35px;
    background-image: url("../img/checlpng.png");
    /*background-position: right; задаем программно*/
    background-repeat: no-repeat;
    background-size: 77px;
}

.validate__result-text{
    font-size: 32px;
}

